:root {
    --color-primary: #38475A;
}

/*  send.html  */

.send h2 {
    width: 90%;
    /*margin: 3rem auto 0;*/
}

.send__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-row-gap: 1rem;
    margin-top: 2rem;
}

.send__form label {
    font-weight: 500;
}

.send__form P {
    grid-column: 2 / -1;
    width: 20rem;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 1rem;
    font-size: .9rem;
}


.input-field {
    /*width:100%*/
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    position: relative;
}

.input-field i {
       text-align: center;
       line-height: 55px;
       color: #acacac;
       font-size: 1.1rem;
   }

.input-field input {
       background: none;
       outline: none;
       border: none;
       line-height: 1;
       font-weight: bold;
       font-size: 1.1rem;
       color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
    font-size: 1.1rem;
}

.input-field--area {
    height: 200px;
}

.input-field .input {
    background: none;
    outline: none;
    border: none;
    margin-right: 2rem;
    line-height: 1;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    margin-top: 1.2rem;
    font-family: inherit;
}

.input-field .input::placeholder {
    color: #aaa;
    font-weight: 500;
    font-size: 1.1rem;
}

.wallet-Des {
    align-self: start;
    margin-top: .9rem;
}

/*  receive.html  */

.received h2 {
    width: 90%;
    /*margin: 3rem auto 0;*/
}

.received__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /*margin-left: 3.8rem;*/
}

.right i {
    /*font-size: 12rem;*/
    width: 100%;
    font-size: 10rem;
    text-align: center;
    border: 2px solid black;
    padding: 40px;
    border-radius: 10px;
    margin-top: 1.5rem;
}

/*  withdraw.html  */

.withdraw h2 {
    width: 90%;
    /*margin: 3rem auto 0;*/
}

.withdraw__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-row-gap: 1rem;
    margin-top: 2rem;
   /*display: grid;
    grid-template-columns: 20% 70%;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1rem;
    margin-top: 2rem;*/
}

.withdraw__form P {
    grid-column: 2 / -1;
    margin-left: 1rem;
    font-size: .9rem;
    margin-bottom: 1rem;
    /*margin-left: 3rem;*/
}

.withdraw__form .btn2 {
    grid-column: 2 / -1;
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
    padding: 1rem 2rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
    border-radius: 1.1rem;
    cursor: pointer;
}

/*  transaction.html  */

.transaction {
    display: grid;
    /*grid-template-columns: 30% 60%;*/
    grid-template-columns: 50% 50%;
    justify-content: center;
    grid-row-gap: 2rem;
    margin-top: 4rem;
}


.transaction label {
    position: relative;
    font-weight: 500;
}

.transaction label::after {
    content: ":";
    position: absolute;
    /*left: 70%;*/
    left: 83%;
}


.transaction .btn {
    grid-column: 1/-1;
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
    padding: 1rem 2rem;
    /*width: 40%;*/
    margin-top: 1rem;
    width: 100%;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    text-align: center;
    border-radius: 1.1rem;
    cursor: pointer;
}

@media (min-width: 661px) {
    .transaction .btn {
        width: 40%;
        grid-column: 1/2;
        justify-self: start;
        margin-top: 0rem;
    }
}

@media (min-width: 1100px) {

    .transaction {
       
        grid-template-columns: 40% 60%;
       
    }

    .transaction label::after {
        left: 70%;
    }
}

@media (min-width: 830px) {

    .send h2 {
        margin: 3rem auto 0;
    }

    .send__form {
        display: grid;
        grid-template-columns: 20% 70%;
        justify-content: center;
        align-items: center;
    }

    .withdraw h2 {
        margin: 3rem auto 0;
    }
    
    .withdraw__form {
        display: grid;
        grid-template-columns: 20% 70%;
        justify-content: center;
        align-items: center;
        grid-row-gap: 1rem;
        margin-top: 2rem;
    }
    
    .withdraw__form P {
        margin-left: 3rem;
    }
    
    .withdraw__form .btn2 {
        width: 40%;
    }

    
    
}

@media (min-width: 1100px) {

    .received h2 {
        margin: 3rem auto 0;
    }
    
    .received__form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 3rem;
        margin-left: 3.5rem
    }

 
    .right i {
        font-size: 8rem;
        width: 70%;
        padding: 100px 50px;
        margin-top: 3rem;
    }
    
}

@media 
only screen and (max-width: 570px),
(min-device-width: 570px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
        text-align: right;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 20px;
		left: 10px;
		width: 25%; 
		padding-right: 10px; 
        white-space: nowrap;
        text-align: left;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Transcation Type"; margin-top: .6rem; }
	td:nth-of-type(2):before { content: "Date"; }
	td:nth-of-type(3):before { content: "Amount in BTC"; }
	td:nth-of-type(4):before { content: "Amount in USD"; }
	td:nth-of-type(5):before { content: "Status"; }
}

